@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  @apply bg-[#F8F9FF] font-sans text-slate-900 antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif text-primary;
}
